.profile {
  flex: 0.4;
  max-width: 450px;
  overflow: scroll;
  margin-top: 100px;
  margin: auto;
  border: 1px solid white;
}

.profile-box {
  padding: 10px;
  border: 2px solid #cccccc;
  border-radius: 6px;
  margin-top: 100px;
}

.profile-box > form {
  display: flex;
  flex-direction: column;
}

.profile-box_input {
  display: flex;
  flex-direction: column;
}

.profile-box_input > input {
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  width: 200px;
  /* display: block; */
}
