.navbar {
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  justify-content: left;
  width: 80vw;
  height: 58px;
  position: fixed;
  background-color: #343a40;
  border-radius: 5px;
}
.menu-items {
  display: flex;
  align-items: center;
  position: absolute;
  width: 5%;
  text-align: center;
  padding: 18px;
}

.link-element {
  text-decoration: none;
}
a {
  color: white;
}

a:hover {
  color: grey;
}

.modal {
  overflow: visible;

  position: absolute;
  z-index: 100;
}
