.navbar {
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  justify-content: left;
  width: 85vw;
  height: 58px;
  position: fixed;
  background-color: #343a40;
  border-radius: 5px;
  z-index: 100;
}
.menu-items {
  display: flex;
  padding: 18px;
  color: white;
}

.link-element {
  text-decoration: none;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

.modal {
  overflow: visible;
  position: absolute;
  z-index: 100;
}
